html, body, #root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}

button {
  padding: 16px 24px;
  width: 250px;
  background-color: hsl(72,79%,22%);;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}